<!-- Jumbotron -->
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">EnFrente, Maria!</h1>
            <p class="lead">Aqui você pode desabafar, buscar ajuda, ajudar outras Marias, descobrir oportunidades e muito mais. E o melhor de tudo: TOTALMENTE SEGURA!</p>
            <p class="lead">
              <a href="<%=stories_path%>" class="btn btn-lg btn-default">Quero ajudar!</a>
              <a href="#" class="btn btn-lg btn-default">Preciso de Ajuda!</a>
            </p>
          </div>

        </div>

      </div>

    </div>