<form accept-charset="UTF-8" action="/stories" class="new_story" id="new_story" method="post"><div style="display:none"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="N+OgsBKi1GLpXBq/y6WA/2MI08mrD/0VFhE55yJzebA=" type="hidden"></div>

  <div class="field">
    <br>
    <textarea id="story_description" name="story[description]"></textarea>
  </div>
  <!-- <div class="field">
    <label for="story_visibility">visibilidade</label><br>
    <input id="story_visibility" name="story[visibility]" type="text">
  </div> -->
  <div class="actions">
    <input name="commit" value="Create Story" type="submit">
  </div>
</form>  