<h1>Relatos</h1>
	<div id='relatos'>
		<div id='relato' class="media">
			<div id='foto' class="media-left" class="img-circle">
				<img
					src='http://www.dicasdemulher.com.br/wp-content/uploads/2013/06/como-se-organizar-para-ter-um-cachorrinho.jpg'
					width='100px'>
			</div>
      <div id='texto' class="media-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
			malesuada ante, et euismod nulla. Quisque vitae lorem sapien. Proin
			pretium ipsum non est tristique rutrum. Nunc vel maximus arcu, ac
			eleifend urna. Mauris dignissim bibendum ex, nec eleifend est
			ultrices id. Pellentesque volutpat augue a condimentum vestibulum.
			Mauris ligula enim, semper eu lectus sit amet, gravida tincidunt
			neque. Cras ornare neque non enim pulvinar, nec semper velit pretium.
			Cras eu quam et neque sagittis tincidunt.
		</div>

			<div id='relato' class="media">
			<div id='foto' class="media-left">
				<img
					src='http://www.dicasdemulher.com.br/wp-content/uploads/2013/06/como-se-organizar-para-ter-um-cachorrinho.jpg'
					width='100px'>
			</div>
      <div id='texto' class="media-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
			malesuada ante, et euismod nulla. Quisque vitae lorem sapien. Proin
			pretium ipsum non est tristique rutrum. Nunc vel maximus arcu, ac
			eleifend urna. Mauris dignissim bibendum ex, nec eleifend est
			ultrices id. Pellentesque volutpat augue a condimentum vestibulum.
			Mauris ligula enim, semper eu lectus sit amet, gravida tincidunt
			neque. Cras ornare neque non enim pulvinar, nec semper velit pretium.
			Cras eu quam et neque sagittis tincidunt.
     		</div>
      
		<div id='relato' class="media">
			<div id='foto' class="media-left">
				<img
					src='http://www.dicasdemulher.com.br/wp-content/uploads/2013/06/como-se-organizar-para-ter-um-cachorrinho.jpg'
					width='100px'>
			</div>
      <div id='texto' class="media-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
			malesuada ante, et euismod nulla. Quisque vitae lorem sapien. Proin
			pretium ipsum non est tristique rutrum. Nunc vel maximus arcu, ac
			eleifend urna. Mauris dignissim bibendum ex, nec eleifend est
			ultrices id. Pellentesque volutpat augue a condimentum vestibulum.
			Mauris ligula enim, semper eu lectus sit amet, gravida tincidunt
			neque. Cras ornare neque non enim pulvinar, nec semper velit pretium.
			Cras eu quam et neque sagittis tincidunt.
		</div>

			<div id='relato' class="media">
			<div id='foto' class="media-left">
				<img
					src='http://www.dicasdemulher.com.br/wp-content/uploads/2013/06/como-se-organizar-para-ter-um-cachorrinho.jpg'
					width='100px'>
			</div>
      <div id='texto' class="media-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
			malesuada ante, et euismod nulla. Quisque vitae lorem sapien. Proin
			pretium ipsum non est tristique rutrum. Nunc vel maximus arcu, ac
			eleifend urna. Mauris dignissim bibendum ex, nec eleifend est
			ultrices id. Pellentesque volutpat augue a condimentum vestibulum.
			Mauris ligula enim, semper eu lectus sit amet, gravida tincidunt
			neque. Cras ornare neque non enim pulvinar, nec semper velit pretium.
			Cras eu quam et neque sagittis tincidunt.
		</div>
<br>

<%= link_to 'New Story', new_story_path %>
